.page-not-found-container {
  text-align: center;
  margin-top: 22rem;
}

.first-message {
  font-size: 90px;
  font-size: bold;
  color: gray;
  letter-spacing: 0.2rem;
  margin: 0;
}

.second-message {
  font-size: 50px;
  color: gray;
  margin: 0;
}

.third-message {
  font-size: 25px;
  color: #c9c9c9;
}
