.radio-container {
  display: block;
}

.diet-heading {
  display: flex;
  justify-content: space-between;
  margin-top: 1.75rem;
}

.active-diet-label {
  color: white;
  background-color: black;
  transition: 0.3s;
}

.clear-button {
  color: #c9c9c9;
  cursor: pointer;
}

.radio-wrapper {
  display: flex;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 25px;
  border: solid 1px;
  align-items: middle;
  justify-content: space-between;
  transition: 0.3s;
}

.checkmark {
  opacity: 0;
  cursor: pointer;
}

.custom-checkmark {
  background-color: white;
  border: solid 2px black;
  border-radius: 50%;
  text-align: center;
  height: 20px;
  width: 20px;
  right: 0;
  transition: 0.3s;
}

.mini-custom-checkmark {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  opacity: 0;
}

.radio-wrapper:hover .checkmark ~ .custom-checkmark {
  background-color: black;
  border: solid white 2px;
  transition: 0.3s;
}

.radio-wrapper .checkmark:checked ~ .custom-checkmark {
  background-color: black;
  border: solid white 2px;
  transition: 0.3s;
}

.radio-wrapper .checkmark:checked ~ .custom-checkmark .mini-custom-checkmark {
  background-color: white;
  opacity: 1;
  transition: 0.3s;
}

.radio-wrapper:hover {
  color: white;
  background-color: black;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
