.health-filters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.health-heading {
  display: flex;
  justify-content: space-between;
}

.clear-button {
  color: #c9c9c9;
  cursor: pointer;
}

.label {
  color: black;
  background-color: white;
  border: solid 1px black;
  white-space: nowrap;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.label:hover {
  color: white;
  background-color: black;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.active-health-label {
  color: white;
  background-color: black;
  transition: 0.3s;
}

.label-icon {
  color: white;
  display: none;
  padding-left: 1rem;
}
