.recipe-details-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 8rem 12rem 4rem 12rem;
}

.return-button {
  opacity: 0.5;
  border: none;
  background: none;
  margin-bottom: 2rem;
  font-size: 24px;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.return-button:hover {
  opacity: 1;
  transition: 0.3s;
}

.arrow-left-icon {
  margin-right: 0.25rem;
}

.return-button:hover .arrow-left-icon {
  transform: translateX(-10px);
  transition: 0.3s;
}

.top-half {
  display: flex;
  background-color: #e6e6e6;
}

.the-text {
  position: relative;
  width: 100%;
  margin: 2rem;
}
.recipe-buttons {
  position: absolute;
  bottom: 0;
}

.recipe-image {
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  padding: 1rem;
}
.recipe-label {
  font-size: 40px;
  margin: 0;
}

.recipe-source {
  font-size: 24px;
}

.recipe-source-text {
  opacity: 0.5;
}

.source-button {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: 0.3s;
  opacity: 0.5;
}

.external-link-icon {
  margin-right: 1rem;
}

.source-button:hover {
  opacity: 1;
  transition: 0.3s;
}

.recipe-buttons .vr {
  display: inline-block;
  vertical-align: middle;
  border-left: solid 1px #c9c9c9;
  margin-right: 1rem;
  margin-left: 1rem;
  height: 40px;
}

.bottom-half {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  min-height: 800px;
}

.ingredients-card {
  color: white;
  background-color: black;
  flex-grow: 1;
  margin-right: 0.5rem;
}

.nutrition-card {
  position: relative;
  flex-grow: 1;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.nutrition-facts {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: relative;
  height: 100%;
  margin-top: 2rem;
}

.yes {
  position: absolute;
  left: 0;
  right: 0;
  top: 6rem;
  bottom: 2rem;
  overflow: auto;
}

.ingredients-text {
  font-size: 18px;
  margin-left: 4rem;
  margin-right: 4rem;
}

.the-header-text {
  font-size: 28px;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: 0.2rem;
}

.nutrition-text {
  font-size: 18px;
  margin-left: 4rem;
  margin-right: 4rem;
}

.nutrition-text-row {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
}

.nutrition-stuff {
  overflow-y: scroll;
  margin-top: -2rem;
  object-fit: contain;
}

.horizontal-rule {
  border-bottom: solid 1px #c9c9c9;
  margin-right: 1rem;
  margin-left: 1rem;
}

.facts {
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  display: flex;
  justify-content: center;
}

.the-stats-label {
  text-align: center;
  opacity: 0.5;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.the-stats {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 18px;
}

.big-icons {
  margin: 2rem 4rem 0 4rem;
}

@media (max-width: 1200px) {
  .top-half {
    flex-wrap: wrap;
  }

  .recipe-buttons {
    position: relative;
  }

  .bottom-half {
    flex-wrap: wrap;
  }

  .ingredients-card {
    margin-right: 0;
    margin-bottom: 2rem;
    max-width: none;
    height: auto;
  }

  .nutrition-card {
    margin-left: 0;
    order: -1;
    margin-bottom: 2rem;
    height: 600px;
  }
}
