.recipe-details-container {
  margin-right: 18rem;
  margin-left: 18rem;
  margin-top: 10rem;
  border: solid 1px black;
}

.top-half {
  display: flex;
  align-items: flex-start;
}

.recipe-image {
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
}

.recipe-label {
  border: solid 1px black;
  display: inline-block;
  font-size: 80px;
  vertical-align: middle;
}

.return-button {
  opacity: 0.5;
  border: none;
  margin-top: 2rem;
  background: none;
  cursor: pointer;
  font-size: 24px;
  letter-spacing: 0.2rem;
  transition: 0.3s;
}

.source-button {
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: 20px;
  margin-right: 1rem;
  border: solid 1px black;
  padding: 1rem;
}

.external-link-icon {
  margin-right: 1rem;
}

.recipe-buttons {
  display: flex;
  margin-top: 2rem;
}

.arrow-left-icon {
  margin-right: 0.25rem;
}

.return-button:hover {
  opacity: 1;
  transition: 0.3s;
}

.return-button:hover .arrow-left-icon {
  transform: translateX(-10px);
  transition: 0.3s;
}

.recipe-primary-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3rem;
}

.recipe-source {
  font-size: 24px;
}

.recipe-source-text {
  opacity: 0.5;
}
