.arrow-up-wrapper {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

#arrow-up-icon {
  filter: drop-shadow(0 0 2px #777777);
  opacity: 0;
  margin-top: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

#arrow-up-icon:hover {
  transform: translateY(-20px);
  transition: 0.3s;
}
