.search-bar-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 6rem;
}

.form {
  width: 100%;
  margin-left: 1rem;
}

.search-bar {
  color: black;
  width: 100%;
  height: 80px;
  font-size: 30px;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

.search-bar::placeholder {
  color: #e6e6e6;
}

.search-icon {
  transition: 0.3s;
}

.clear-icon {
  display: none;
  cursor: pointer;
  transition: 0.3s;
}
