.search-bar-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 4rem;
}

.form {
  width: 100%;
  margin-left: 1rem;
}

.search-bar {
  width: 100%;
  font-size: 24px;
  border: none;
  outline: 0;
  color: black;
  box-sizing: border-box;
}

.search-bar::placeholder {
  color: #e6e6e6;
}

.search-icon {
  transition: 0.5s;
}

.clear-icon {
  display: none;
  cursor: pointer;
  transition: 0.3s;
}
