@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  /*background-color: whitesmoke;*/
  background-color: whitesmoke;
  /* background: rgba(0, 0, 0, 0.65), url(../assets/b5.jpg);
  background-blend-mode: darken; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../assets/b5.jpg); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
}
