/* The container */

.container-radio {
  display: block;
}

.radio-container {
  display: flex;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 25px;
  border: solid 1px;
  align-items: middle;
  justify-content: space-between;
  transition: 0.5s;
}

/* Hide the browser's default radio button */
.circle {
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  text-align: center;
  height: 20px;
  width: 20px;
  background-color: white;
  border: solid 2px black;
  border-radius: 50%;
  right: 0;
  transition: 0.5s;
}

.mini {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.radio-container:hover .circle ~ .checkmark {
  background-color: black;
  border: solid white 2px;
  transition: 0.5s;
}

.radio-container .circle:checked ~ .checkmark {
  background-color: black;
  border: solid white 2px;
  transition: 0.5s;
}

.radio-container .circle:checked ~ .checkmark .mini {
  opacity: 1;
  background-color: white;
  transition: 0.5s;
}

.radio-container:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.active-btn {
  background-color: black;
  color: white;
  transition: 0.5s;
}
