.health-filters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-btn {
  background-color: white;
  color: black;
  border: solid 1px black;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  transition: 0.3s;
  cursor: pointer;
  margin: 0.25rem;
}

.label-icon {
  padding-left: 1rem;
}

.filter-btn:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.active-filter {
  background-color: black;
  color: white;
}
