@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");

nav {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.logoa {
  color: black;
  text-decoration: none;
  margin-left: 200px;
  font-family: "Mansalva", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

.linksa {
  margin-right: 200px;
}

.linka {
  color: black;
  text-decoration: none;
  margin: 2rem;
  display: inline-block;
  opacity: 0.75;
}

.linka:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

.linka:hover {
  opacity: 1;
}

.linka:hover::after {
  width: 100%;
  transition: width 0.5s;
}
