@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");

.nav {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav2 {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.logo {
  color: white;
  text-decoration: none;
  margin-left: 200px;
  font-family: "Mansalva", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

.logo2 {
  color: #5c5b6f;
  text-decoration: none;
  margin-left: 200px;
  font-family: "Mansalva", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

.links {
  margin-right: 200px;
}

.link {
  color: white;
  text-decoration: none;
  margin: 2rem;
  display: inline-block;
  opacity: 0.75;
}

.link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.link:hover {
  opacity: 1;
}

.link:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.link2 {
  color: #5c5b6f;
  text-decoration: none;
  margin: 2rem;
  display: inline-block;
  opacity: 0.75;
}

.link2:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #5c5b6f;
  transition: width 0.3s;
}

.link2:hover {
  opacity: 1;
}

.link2:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.link:target {
  opacity: 1;
}

.active {
  opacity: 1;
}
