@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.nav-1 .logo {
  color: white;
  text-decoration: none;
  font-family: "Mansalva", cursive;
  font-size: 40px;
  letter-spacing: 0.25rem;
  margin-left: 6rem;
}

.nav-1 .links {
  margin-right: 4rem;
}

.nav-1 .link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 2rem;
  opacity: 0.75;
}

/* @media (max-width: 1700px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-1 .links {
    bottom: 0;
    align-self: flex-end;
  }
} */
