.search-container {
  position: fixed;
  top: 60px;
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
}

.sc {
  display: flex;
  justify-content: space-between;
}

.sb {
}

.vr {
  border-left: 1px solid gray;
}
