.bbb {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 4rem;
}

.form {
  width: 100%;
  margin-left: 1rem;
}

.search-bar {
  width: 100%;
  font-size: 35px;
  border: none;
  outline: 0;
  color: black;
  box-sizing: border-box;
}

.search-bar::placeholder {
  color: #e6e6e6;
}

.search-icon {
  color: #e6e6e6;
}
