.dropdown {
  position: relative;
  margin-right: 4rem;
}

.dropbtn {
  display: flex;
  padding: 0.5rem 1rem;
  letter-spacing: 0.2rem;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
  color: black;
  transition: 0.3s;
}

.dropbtn:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

#dropdown-content {
  position: absolute;
  margin-top: 0.75rem;
  right: 0;
  background-color: #ffffff;
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  /* text-align: right; */
}

.filter-icon {
  margin-right: 0.5rem;
}

/* .downarrow-icon {
  margin-left: 1rem;
  transition: 0.3s;
} */

.horizontal-rule {
  border-bottom: 1px solid #e6e6e6;
  margin-top: 2em;
  margin-bottom: 2rem;
}

.downarrow-icon {
  margin-left: 1rem;
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.downarrow-icon.open {
  margin-left: 1rem;
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}
