.search-bar {
  margin-left: 4rem;
  border: none;
  width: 35%;
  border-bottom: solid 1px black;
  outline: 0;
  padding-bottom: 0.5rem;
}

.search-btn {
  margin-left: 1rem;
  border: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  margin: 0;
  text-align: bottom;
}
