.instructions-container {
  margin-top: 300px;
  text-align: center;
}

.instructions-heading {
  font-size: 20px;
  letter-spacing: 0.2rem;
}

.instruction-cards {
  display: flex;
  justify-content: center;
  text-align: center;
}

.instruction-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 2rem 2rem 2rem;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2);
}

.instruction-icon {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 4rem;
}

.primary-description {
  font-size: 20px;
  margin-top: 2rem;
}

.secondary-description {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 2rem 4rem 2rem;
}
