.bookmark-card {
  position: relative;
  display: flex;
  background-color: white;
  width: 500px;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: black;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}

.bookmark-card-image {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
}

.bookmark-card-label {
  font-size: 24px;
  font-weight: bold;
  margin: 2rem;
  margin-bottom: 6rem;
}

.bookmark-card-delete-icon {
  position: absolute;
  opacity: 0.25;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.bookmark-card-delete-icon:hover {
  opacity: 1;
  transition: 0.3s;
}

.view-recipe-button {
  position: absolute;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  bottom: 1rem;
  left: 14.25rem;
  right: 2rem;
  letter-spacing: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: 0.3s;
}

.view-recipe-button:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
