.bookmark-card {
  position: relative;
  display: flex;
  background-color: white;
  width: 500px;
  height: auto;
  margin: 1rem 2rem 1rem 0;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.23);
}

.bookmark-card-image {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
}

.bookmark-card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 2rem;
  margin-bottom: 6rem;
}

.the-button {
  position: absolute;
  text-align: center;
  border: solid 1px black;
  background-color: black;
  color: white;
  text-decoration: none;
  bottom: 1rem;
  left: 14.25rem;
  right: 2rem;
  letter-spacing: 0.2rem;
  padding: 0.5rem 2rem;
  transition: 0.3s;
}

.the-button:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.bookmark-card-delete-icon {
  opacity: 0.25;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: 0.3s;
}

.bookmark-card-delete-icon:hover {
  opacity: 1;
  transition: 0.3s;
}
