.bookmark-button {
  display: inline-block;
  opacity: 0.5;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.bookmark-button:hover {
  opacity: 1;
  transition: 0.3s;
}

.bookmarked {
  opacity: 1;
}
